@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Danh sách Quyền";
    var message = TempData["Message"];
}



@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Quyền</h3>

            <div class="card-tools">
                <a href="/admin/role/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr class="trRow_@item.Id">
                                <td>@i</td>
                                <td id="itemName_@item.Id">@item.Name</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-success btnCapNhat" data-id="@item.Id">Cập nhật</a>
                                    <a href="#" class="btn btn-sm btn-danger btnXoa" data-name="@item.Name" data-id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Cập nhật tên Role</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="RoleId" value="0" />
                <div class="form-group">
                    <label>Role</label>
                    <div class="form-group">
                        <input type="text" class="roleName" value="" />
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuu">Lưu</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', ".btnCapNhat", function () {
                var id = $(this).data("id");
                $('#RoleId').val(id);
                $('#modal-default').modal('show');
                $(".roleName").val("");
                $.ajax({
                    url: '/admin/role/GetNameRole',
                    type: 'GET',
                    data: { roleid: id },
                    success: function (res) {
                        if (res.success) {
                            $(".roleName").val(res.RoleName).focus();
                        }
                    }
                });
            });

            $("body").on("click", ".btnXoa", function () {
                var id = $(this).data("id");
                var name = $(this).data("name");
                var confirm = window.confirm(`Bạn có muốn xóa Role "${name}" không???`);
                if (confirm === true) {
                    $.ajax({
                        url: '/admin/role/delete',
                        type: 'GET',
                        data: { id: id },
                        success: function (res) {
                            if (res.success) {
                                $(".trRow_" + id).remove();
                                toastr.success(`xóa Role "${name}" thành công`);
                            }
                        }
                    });
                }
            });

            $(".roleName").on("keypress", function (e) {
                if (e.which == 13) {
                    ChangeRoleName();
                }
            });

            $("body").on("click", "#btnLuu", function () {
                ChangeRoleName();
            });

            function ChangeRoleName() {
                var RoleId = $('#RoleId').val();
                var RoleName = $('.roleName').val();
                $.ajax({
                    url: "/admin/role/Edit",
                    type: "POST",
                    data: { Id: RoleId, Name: RoleName },
                    success: function (res) {
                        if (res.success == false) {
                            toastr.warning(res.msg);
                        }
                        else if (res.success == true) {
                            $('#modal-default').modal('hide');
                            $("#itemName_" + RoleId).text(res.RoleName);
                            toastr.success('Cập nhật thành công');
                        }
                    }
                });
            }
        })
    </script>
    @if (message != null)
    {
        <script>toastr.success("@message")</script>
    }
    
}